@font-face {
    font-family: AvenirNext;
    src: url("fonts/AvenirNext-Regular.otf") format("opentype");
}

@font-face {
    font-family: AvenirNext-Bold;
    font-weight: bold;
    src: url("fonts/AvenirNext-Bold.otf") format("opentype");
}

body {
    font-family: 'AvenirNext', serif;  
    margin: 0; 
    background-color: white;
}
.img-div {
    display:flex;
    justify-content: space-around;
    max-width: 960px;
    margin: 0 auto;
}
.img-h-1, .img-h-2 {
    width:35%;
}
.img-1, .img-2 {
    height:70%;
    border-style: solid;
    border-width: 5px;
    border-radius: 5px;
}
.title-1 {
    padding-top: 90px;
    padding-bottom: 32px;
    margin: 0 auto;
    display: block;
}
.center {
    text-align: center;
}
.p-1 {
    margin-bottom:14px;
    margin-top:0;
}
.slick-list {
    height:500px;
}
.slick-track {
    margin-top: 58px;
}
.img-car {
    height:100%;
    width:100%;
}
.logo-nav {
    height:20px;
}
.topnav .anav-1 {
    padding-top: 10px;
    padding-bottom: 18px;
}
.main-text {
    margin: 100 auto;
    width: 55%; 
    font-size: 30px;
}
.main-text1 {
    margin: 0 auto;
    color:white;
    width: 55%; 
    font-size: 30px;
}
.columns {
    margin:-30 auto 0 auto;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
}
.column1, .column2 {
    width:50%;
    height:auto;
}
.column1 {
    border-right: 1px solid #E6ECF8
}
.column2 {

}
ul {
    list-style-type: none;
    padding:0;
}
li {
    margin-bottom: 10px;
}
.purple {
    color: #8C43FF;
}
.svg1, .svg2 {
    height:50px;
    width:auto;
    display:block;
    margin:0 auto;
}
.sub-main-text1 {
    color:white;
    margin: 0 auto;
    width: 55%; 
}
.text-center {
    text-align:center;
}
.section1 {
    padding: 5rem 1.5rem;
    background-color: #8C43FF;
}
.footer {
    background-color: #f2f2f2;  
    min-height:100px;
}
.footer-div {
    display:inline-block
}
.copyright {
    margin-right:30px;
    color: #b3b2b2;
    font-size: 0.73rem;
}
.footer-element {
    text-decoration: none;
    border-right: 1px solid #d6d6d6;
    margin-right: 10px;
    padding-right: 12px;
    display: inline-block;
    margin-top: 3px;
    color: #555;
    font-size: 0.73rem;
}
.footer-element:hover {
    text-decoration: underline;
    color: #333;
}
/*Nav*/


.topnav {
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 58px;
  }

  .anav-1 {
      float:left;
  }

  .anav-2, .anav-3, .anav-4, .anav-5 {
    float:right;
  }
  
  .topnav a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    border-bottom:10px solid #6caf21;
  }
  
  .active {
    border-bottom:10px solid #6caf21;
    /*color: white;*/
  }
  
  .topnav .icon {
    display: none;
  }

  .topnav-inner {
      max-width:960px;
      margin-left: auto;
      margin-right: auto;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  
  }